[Unit]
Description=QView3D Server Service
After=network.target

[Service]
ExecStart=/usr/local/bin/run-qview3d-server.sh
Type=simple
Nice=-15
Restart=always
User=root
StandardOutput=append:/var/log/qview3d-server.log
StandardError=append:/var/log/qview3d-server.log

[Install]
WantedBy=multi-user.target